<div class="new-side-nav" ng-controller="NewPLogCtrl">
    <ul class="nav nav-pills nav-stacked col-md-3">
        <li class="active" ><a href="#tab_a" data-toggle="pill">COMPLAINT OF</a></li>
        <li ><a href="#tab_b" data-toggle="pill">AREA OF DIFFICULITY</a></li>
        <li><a href="#tab_c" data-toggle="pill">HEARING AIDS</a></li>
        <li><a href="#tab_d" data-toggle="pill">OTOSCOPIC EXAMINATION</a></li>
        <li><a href="#tab_e" data-toggle="pill">ACOUSTIC RELEX THRESHODLS</a></li>
        <li><a href="#tab_f" data-toggle="pill">PURE TONE AUDIOMETRY</a></li>
        <li><a href="#tab_g" data-toggle="pill">PROVISIONAL DIAGNOSIS</a></li>
        <li><a href="#tab_h" data-toggle="pill">AMPLIFICATION</a></li>
    </ul>

    <div class="tab-content col-md-9">
        <!-- COMPLAINT OF -->
        <div class="tab-pane active" id="tab_a">
            <div class="col-md-7 com-top">

                <label for="">COMPLAINT</label>
                <textarea class="form-control" id="" cols="30" rows="3"></textarea>

            </div>


            <div class="col-md-5 com-top">

                <label for="">Onset</label>
                <textarea class="form-control" id="" cols="30" rows="3"></textarea>

            </div>

            <div class="col-md-4 com-top">

                <label for="">R</label>
                <input type="checkbox">
                <label for="">L</label>
                <input type="checkbox">
            </div>

            <div class="col-md-3 com-top">
                <div class="col-md-12 " ng-repeat="item in complaint_of_three">
                    <div class="checkbox">
                        <label for=""><input type="checkbox">{{item.name}}</label>

                    </div>
                </div>
            </div>

            <div class="col-md-5 com-top">
                <label for="">Others</label>
                <textarea class="form-control" id="" cols="30" rows="3"></textarea>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 " ng-repeat="item in complaint_of">
                    <div class="checkbox">
                        <label for=""><input type="checkbox">{{item.name}}</label>

                    </div>
                </div>
            </div>




        </div>




        <div class="tab-pane" id="tab_b">
            <!-- AREA OF DIFFICULITY -->
            <div class="row">
                <div class="col-md-6 new-checked">
                    <label for="">1 to 1</label>
                    <input type="checkbox">

                    <label for="">Meeting</label>
                    <input type="checkbox">

                    <label for="">Television</label>
                    <input type="checkbox">
                </div>
                <div class="col-md-6 new-checked">

                    <label for="">Group</label>
                    <input type="checkbox">

                    <label for="">Church</label>
                    <input type="checkbox">

                    <label for="">Telephone</label>
                    <input type="checkbox">

                </div>

                <div class="col-md-6 new-textara">
                    <label for="">Others</label>
                    <textarea name="" id="" cols="30" rows="5"></textarea>
                </div>
                <div class="col-md-6 new-textara">
                    <label for="">Remarks</label>
                    <textarea name="" id="" cols="30" rows="5"></textarea>
                </div>

            </div>
        </div>

        <!-- HEARING EXAMINATION -->
        <div class="tab-pane" id="tab_c">
            <div class="row hearing">
                <form action="" class="form-inline">
                    <div class="col-md-12 form-group form-oto">
                        <div class="col-md-6">
                            <label for="">Brand</label>
                            <input class=" form-control" type="text">
                        </div>
                        <div class="col-md-6">
                            <label for="">Model</label>
                            <input class=" form-control" type="text">
                        </div>

                        <div class="new-checked">
                            <label class="">Both Ear</label>
                            <input type="checkbox" value="">

                            <label class="">Right</label>
                            <input type="checkbox" value="">

                            <label class="">Left</label>
                            <input type="checkbox" value="">

                        </div>

                        <div class="col-md-6">
                            <label for="">Currently</label>
                            <input class=" form-control" type="text">

                            <label for="">No of years</label>
                            <input class=" form-control" type="text">

                            <label for="">Conditions of HI</label>
                            <input class=" form-control" type="text">

                            <label for="">Amount Paid for Previous PI</label>
                            <input class=" form-control" type="text">

                        </div>

                        <div class="col-md-6">
                            <label for="">Previously</label>
                            <input class=" form-control" type="text">

                            <label for="">Remakes</label>
                            <textarea class=" form-control" name="" id="" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>




        <!--    OTOSCOPIC EXAMINATION -->
        <div class="tab-pane" id="tab_d">
            <form action="">
                <div class="otoscop-1">
                    <p>Right</p>
                    <label for="">Clear</label>
                    <input type="checkbox">
                    <label for="">Wax</label>
                    <input type="checkbox">
                    <label for="">Discharge</label>
                    <input type="checkbox">
                </div>
                <div class="otoscop-2">
                    <p>Left</p>
                    <label for="">Clear</label>
                    <input type="checkbox">
                    <label for="">Wax</label>
                    <input type="checkbox">
                    <label for="">Discharge</label>
                    <input type="checkbox">
                </div>
                <div class="otoscop-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Type</th>
                            <th>ECV</th>
                            <th>SC</th>
                            <th>Peak Pressure</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Right</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Left</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <!--  ACOUSTIC RELEX THRESHODLS -->
        <div class="tab-pane" id="tab_e">
            <form action="">
                <div class="otoscop-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>500</th>
                            <th>1000</th>
                            <th>2000</th>
                            <th>4000</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Right</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Left</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="otoscop-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>500</th>
                            <th>1000</th>
                            <th>2000</th>
                            <th>4000</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Right</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Left</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="tab-pane" id="tab_f">
            <div class="otoscop-3">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Right</th>
                        <th>250</th>
                        <th>500</th>
                        <th>1000</th>
                        <th>2000</th>
                        <th>3000</th>
                        <th>4000</th>
                        <th>6000</th>
                        <th>8000</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>AC</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BC</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MAC</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MBC</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="otoscop-3">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Left</th>
                        <th>250</th>
                        <th>500</th>
                        <th>1000</th>
                        <th>2000</th>
                        <th>3000</th>
                        <th>4000</th>
                        <th>6000</th>
                        <th>8000</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>AC</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BC</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MAC</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MBC</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--  PROVISIONAL DIAGNOSIS -->
        <div class="tab-pane" id="tab_g">
            <form action="">
                <label for="">Remarks</label>                                   <textarea class="form-control" id="" cols="30" rows="10"></textarea>
            </form>
        </div>



        <!--     AMPLIFICATION -->
        <div class="tab-pane" id="tab_h">
            <form action="">
                <div class="new-right">
                    <label for="">Right</label>
                    <textarea class="form-control" id="" cols="30" rows="7"></textarea>
                </div>
                <br> <br>
                <div class="new-right">
                    <label for="">Left</label>
                    <textarea class="form-control" id="" cols="30" rows="7"></textarea>
                </div>


            </form>
        </div>


    </div><!-- tab content -->
</div>