<!DOCTYPE html>
<html>
<div data-ng-app="crm" data-ng-controller="admincontroller" ng-init=getID();getLog()>

    <head>

        <!-- your webpage info goes here -->

        <title>The Hearing Centre</title>

        <meta name="author" content="Ama" />
        <meta name="description" content="" />

        <!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->
        <link rel="stylesheet" href="css/admin.css" type="text/css" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-storage.min.js"></script>
        <script src="js/bootstrap.js" type="text/javascript"></script>
        <script src="js/index.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/adminCtrl.js"></script>


    </head>
    <header>
        <div class="header_cont">
            <input type="text" name="search" placeholder="Search..">
            <button class="button1">Dashboard</button>
            <button class="button2" onclick="location.href='patient.html';">Patient</button>
            <button class="button3"><a href="account.html?nric={{result.nric}}">Accounts</a></button>
            <button class="button4">Clinic</button>
            <button class="button4"><a href="feedback.html">Feedback</a></button>
            <button class="button4" ng-click="logout()">Logout</button>
            <h6 id="demo"></h6>
            <img src="images/logo_2.png"><br><br>
        </div>
    </header>

    <body>
        <!-- <div data-ng-app="crm" data-ng-controller="admincontroller" ng-init=getID()> -->

        <div class="patient2">

            <nav>
                <div class="boxbox">
                    <table>
                        <th><h2></h2></th>
                        <tr><td><h2>{{result.firstName}} {{result.lastName}}</h2>
                            <h3>{{result.nric}}</h3>
                            <h3>Patient</h3></</td></tr>
                    </table>
                </div>

                <div class="boxbox2">

                    <table>
                        <th>Patient Detail</th>

                        <tr><td><strong>First Name</strong><br>{{result.firstName}}</td></tr>
                        <tr><td><strong>Last Name</strong><br>{{result.lastName}}</td></tr>
                        <tr><td><strong>Email</strong><br>{{result.email_address}}</td></tr>
                        <tr><td><strong>NRIC</strong><br>{{result.nric}}</td></tr>
                        <tr><td><strong>Mobile No.</strong><br>{{result.mobile_number}}</td></tr>
                        <tr><td><strong>Home No.</strong><br>{{result.home_number}}</td></tr>
                        <tr><td><strong>Types of patients</strong><br>N.A</td></tr>
                        <tr><td><strong>Gender</strong><br>{{result.gender}}</td></tr>
                        <tr><td><strong>Address</strong><br>{{result.residential_address}}</td></tr>
                        <tr><td><strong>Postal</strong><br>{{result.postal}}</td></tr>
                        <tr><td><strong>Country</strong><br>{{result.country}}</td></tr>            
                    </table>
                </div>


            <div id="myModal" class="modal">
            <!-- Modal content -->
                <span class="close"></span>

                <form class="form-style-9" name="custInfo" ng-controller="admincontroller" ng-submit=updateCustInfo();edit()>
                    <ul>
                        <li>
                            <input type="text" name="field1" class="field-style field-split align-left" required ng-model="result.firstName"/>
                            <input type="text" name="field2" class="field-style field-split align-right" required ng-model="result.lastName"/> 
                        </li>

                        <li>
                            <input type="text" name="field3" class="field-style field-split align-left" required ng-model="result.mobile_number"/>
                            <input type="text" name="field4" class="field-style field-split align-right" required ng-model="result.home_number"/>
                        </li>

                        <li>
                            <input type="text" name="field3" class="field-style field-split align-left" required ng-model="result.email_address"/>
                            <input type="text" name="field4" class="field-style field-split align-right" required ng-model="result.nric"/>
                        </li>

                        <li>
                            <input type="hidden" name="field4" class="field-style field-split align-left" required ng-model="result.id"/>
                            <input type="text" name="field4" class="field-style field-split align-right" required ng-model="result.gender"/>
                        </li>

                        <li>
                            <input type="text" name="field3" class="field-style field-full align-none" required ng-model="result.residential_address"/>
                        </li>

                        <li>
                            <input type="text" name="field3" class="field-style field-split align-left" required ng-model="result.postal"/>
                            <input type="text" name="field4" class="field-style field-split align-right" required ng-model="result.country"/>
                        </li>

                        <li>
                            <input value="Submit" class="button3" name="submit" type="submit">
                            <input value="Cancel" class="button3" name="submit" type="submit" ng-click="edit()">
                        </li>
                    </ul>
                </form> 
            </div>
            </nav>

            <article>

                <form name="patient2" ng-controller="admincontroller" ng-submit=inputLog()>
                    
                    <div class="edit">
                        <table>
                            <tr>
                                <td><button id="submit" class="button"ng-click = "editInfo()">Edit details</button></td>
                            </tr>
                        </table>
                    </div>

                    <div class="page2">
                        <table>
                            <tr>
                                <td><button id="btn1" class="button" ng-click="buttonId('New Patient Log')">New Patient Log</button></td>
                                <td><button id="btn2" class="button" ng-click="buttonId('Notes')">Notes</button></td>
                                <td><button id="btn3" class="button" ng-click="buttonId('Log Activity')">Log Activity</button></td>
                                <td><button id="btn4" class="button" ng-click="buttonId('Create Task')">Create Task</button></td>
                                <td><button id="btn5" class="button" ng-click="buttonId('Create Invoice')">Create Invoice</button></td>
                                <td><button id="btn6" class="button" ng-click="buttonId('Schedule Appointment')">Schedule Appointment</button></td>
                            </tr>

                            <!--Large textbox for user -->
                            <textarea rows="4" cols="50" name="message" required id="user_input" ng-model="textLog"></textarea>

                            
                        </table>                                                
                    </div>

                    <div class="page2-2">
                        <table id="saveAndDiscard">
                            <tr>
                                <td><button id="submit" class="button">Save</button></td>
                                <td><button type="button" id="reset" class="button" ng-click="clearField();">Discard</button></td>
                            </tr>
                        </table>
                    </div>

                </form>

                <div id="newDivs" class="msg">
                    <table>
                        <tr ng-repeat="patient in patientLog">
                            <td>
                                <strong>
                                    Admin created a <u>{{patient.tabType}}</u> for {{patient.firstName}} {{patient.lastName}}<br>
                                    {{patient.date}} at {{patient.time}}<br><br>
                                </strong> {{patient.remark}}

                                <br><br>

                            </td>
                        </tr>

                    </table>
                </div>

                <!--Drop down selection for clinic and dates -->
                <div id= "apptDate" class="apptDate">
                    
                    <form name="appointment" ng-controller="admincontroller" ng-submit=scheduleAppt()>
                        <select class="clinic" ng-model="clinic">
                            <option value="clinic1">Clinic 1</option>
                            <option value="clinic2">Clinic 2</option>
                            <option value="clinic3">Clinic 3</option>
                        </select>    

                        <select class="day" ng-model="day">
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                        </select>   

                        <select class="month" ng-model="month">
                            <option value="jan">January</option>
                            <option value="feb">February</option>
                            <option value="mar">March</option>
                            <option value="apr">April</option>
                            <option value="may">May</option>
                        </select>   

                        <select class="year" ng-model="year">
                            <option value="1900">1900</option>
                            <option value="1901">1901</option>
                            <option value="1902">1902</option>
                            <option value="1903">1903</option>
                            <option value="1904">1904</option>
                        </select> 


                        <button class="scheduleSubmit" id="submit" class="button">Submit</button>
                    </form>
                </div>

                 <!-- <div id="appointment" class="appointment">
                     testing 
                     <datepicker>
                        <input ng-model="date" type="text"/>
                    </datepicker>
                </div>  -->


            </article>
        </div>
</div>

<script>
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toDateString();

</script>
</body>

</html>