<!DOCTYPE html>
<html>

<div data-ng-app="crm" data-ng-controller="admincontroller" ng-init=allCustomer()>

<head>

  <!-- your webpage info goes here -->

  <title>The Hearing Centre</title>

  <meta name="author" content="Ama" />
  <meta name="description" content="" />

  <!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->
  <link rel="stylesheet" href="css/admin.css" type="text/css" />
  <script type="text/javascript" src="js/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-storage.min.js"></script>
  <script src="js/bootstrap.js" type="text/javascript"></script>
  <script src="js/index.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/adminCtrl.js"></script>

</head>

<header>
    <div class = "header_cont" >
      <input type="text" name="search" placeholder="Search.." ng-model="searchText">
      <button class = "button1" >Dashboard</button>
      <button class = "button2" >Patient</button>
      <button class = "button3" >Accounts</button>
      <button class = "button4" >Clinic</button>
      <button class = "button4" ng-click=logout()>Logout</button>
      <h6 id="demo"></h6>
      <img src="images/logo_2.png"><br><br>
      <div><h3><b>Patient</b></h3></div>
    
    </div> 
</header>
<body>
  <!--<div data-ng-app="crm" data-ng-controller="admincontroller" ng-init=allCustomer()>-->
    
<div class="patient">

<nav>
<div class="blue_box">
  <table><tr><th> FILTER BY </th> </tr></table>
  <span>
        <h2> Type of Patients </h2>
        <input type="checkbox" name="patient_1" value="patient_1"> Patient_1<br>
        <input type="checkbox" name="patient_2" value="patient_2"> Patient_2<br>
        <input type="checkbox" name="patient_3" value="patient_3"> Patient_3<br><br>
        <h2> GENDER </h2>
      <input type="checkbox" name="male" value="male" > Male <br>
      <input type="checkbox" name="female" value="female" > Female<br>
  </span>                        
  </div>             
</nav>
     <article>

        <!--<button class = "button5" ng-click=logout()>Logout</button>-->
        <button class = "button6" ng-click=delete()>Delete</button>
        
        <table>
            <tr>
                <th><input type="checkbox" ng-model="allSelected" ng-model-options="{getterSetter: true}"></th>

                <th>
                  Name
                  <a ng-click="setOrder('firstName')" class="headerSortDown"></a>
                  <a ng-click="setOrder('-firstName')" class="headerSortUp"></a></th>
                </th>

                <th>
                  Gender
                  <a ng-click="setOrder('gender')" class="headerSortDown"></a>
                  <a ng-click="setOrder('-gender')" class="headerSortUp"></a></th>
                </th>

                <th>
                  NRIC
                  <a ng-click="setOrder('nric')" class="headerSortDown"></a>
                  <a ng-click="setOrder('-nric')" class="headerSortUp"></a></th>
                </th>

                <th>
                  Mobile No.
                  <a ng-click="setOrder('mobile_number')" class="headerSortDown"></a>
                  <a ng-click="setOrder('-mobile_number')" class="headerSortUp"></a></th>
                </th>

                <th>
                  Email
                  <a ng-click="setOrder('email_address')" class="headerSortDown"></a>
                  <a ng-click="setOrder('-email_address')" class="headerSortUp"></a></th>
                </th>

                <th>
                  Last Visit
                  <a ng-click="setOrder('lastVisit')" class="headerSortDown"></a>
                  <a ng-click="setOrder('-lastVisit')" class="headerSortUp"></a></th>
                </th>
            </tr>
            <tr>


            </tr>
            <tr ng-repeat="cust in customerList | orderBy:orderProp | filter:searchText">
                
                <td>  
                  <input type="checkbox" value="{{cust.id}}" ng-model="cust.selected" ng-change="change(cust)">
                </td>
                <td>{{cust.firstName}} {{cust.lastName}}</td>
                <td>{{cust.gender}}</td>
                <td>{{cust.nric}}</td>
                <td>{{cust.mobile_number}}</td>
                <td>{{cust.email_address}}</td>
                <td>{{cust.lastVisit}}</td>
            </tr>
            <p>Total Checked: {{noSelectedItems}}</p>
        </table>

      </article>

</div>

  </div>

<script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script>

</body>

</html>