label {
    font-size: 16px;
    width: 190px;
    padding-top: 10px;
}


.where-hear-about-us {
    padding-top: 27px;
    padding-left: 45px;
}


.confo {
    padding-top: 15px;
    padding-bottom: 15px;
}


.confo h4 {
    text-transform: uppercase;
}