body{
	background: white;
    color: #676767;
}

.sidebar {
    padding-top: 130px;
    border-right: 1px solid #ccc;
    height: auto;
    padding-right: 80px;
    padding-bottom: 100px;
}

.sidebar-context-tab {
 
    padding-top: 20px;
}

.sidebar-context-tab ul {
    list-style: none;
    text-align: justify;
        margin-left: 30px;
}

.sidebar-context-tab ul li{
    padding-bottom: 20px;
}

.sidebar-context-tab ul li span {
    background: #45A77A;
    color: #fff;
    border-radius: 50%;
    padding: 3px 7px;
    margin-right: 5px;
}

.sidebar-context-footer {
    padding-top: 80px;
}

.sidebar-context-footer p {
    font-size: 16px;
    font-weight: 600;
}

.background{
	background: #45A77A;
} 

.color{
	color:  #45A77A;
}

span.glyphicon.glyphicon-chevron-right{
    background: #45A77A;
    color: #fff;
    border-radius: 50px;
    padding: 5px 5px;
    margin-left: 5px;
}

.full-form {
    padding-top: 70px;
    padding-left: 60px;
}

.full-form label.col-sm-3.control-label {
    text-align: justify;
}

.sidebar-context-tab .gray{
	background-color: #adacac;
}

.form-control{
    border: 1px solid #e0eaf9;
        background: #f1f1f1;
}


.sidebar img {
    padding-bottom: 30px;
}


label.col-sm-3.control-label {
    font-size: 16px;
    color: #676767;
    font-weight: normal;
}

.form-button {
    margin-left: 50px;
    margin-top: 15px;
}

.btn-success {
    color: #fff;
    background-color: #45A77A;
    border-color: #45A77A;
}

.modal-content {
    padding: 20px;
}

.model-img.text-right {
    position: absolute;
    right: 15px;
    top: 16px;
}


.form-group.model-from-group {
    width: 50%;
}