<!DOCTYPE html>
<html>

<head>

  <!-- your webpage info goes here -->

  <title>The Hearing Centre</title>

  <meta name="author" content="Ama" />
  <meta name="description" content="" />

  <!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->
  <!--<link rel="stylesheet" href="css/csr.css" type="text/css" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/personal-page.css">
    <link rel="stylesheet" href="css/customer_medicalHist.css">
    <link rel="stylesheet" href="css/customer_mise.css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
  <script type="text/javascript" src="js/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-storage.min.js"></script>
  <script src="js/bootstrap.js" type="text/javascript"></script>
  <script src="js/index.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/crmCtrl.js"></script>

</head>

<body>
 
 
     <!-- NEW CODE START-->
     <div class="container" data-ng-app="crm" data-ng-controller="crmcontroller" ng-init="getOption()">
    <div class="row">
        <div class="col-md-4 text-center sidebar">
            <div>
                <img src="images/logo_1_50.png" alt="">
            </div>
            <div class="sidebar-context">
                <h3>Register here to get started</h3>
                <p>It should only take a couple of minitues</p>
            </div>
            <div class="sidebar-context-tab">
                <ul>
                    <li><span><i class="fa fa-check"></i></span>Personal Particulars</li>
                    <li><span><i class="fa fa-check"></i></span>Medical History</li>
                    <li><span class="">3</span>Miscellaneous</li>
                </ul>
            </div>
            <div class="sidebar-context-footer">
                <p>Returning patient? Sign in <a class="color" data-toggle="modal" data-target=".bs-example-modal-lg">here</a><span class="glyphicon glyphicon-chevron-right"></span></p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="where-hear-about-us">
               <form action="" ng-controller="crmcontroller" ng-submit=insertResponse()>
                <h3>How did you hear about us?</h3>
                
                <div class="check-boxs">
                     <div class="checkbox">
                    <label> <input type="checkbox" ng-model="howHear"> Newspaper</label>
                     
                    
                      <label for="">
                       <input type="checkbox" ng-model="howHear.google"> Google
                       </label>
                       <label for="">
                        <input type="checkbox" ng-model="howHear.talk"> Talk/Workshop
                        </label><br>
                        <label for="">
                        <input type="checkbox" ng-model="howHear.ents"> ENTS
                        </label>
                        <label for="">
                        <input type="checkbox" ng-model="howHear.flayer"> Flyers
                        </label>
                        <label for="">
                        <input type="checkbox" ng-model="howHear.facebook"> Facebook
                        </label> <br>
                        <label for="">
                        <input type="checkbox" ng-model="howHear.friends"> Refered by Friends
                        </label>
                        <label for=""> 
                        <input type="checkbox" ng-model="howHear.other"> Others
                        </label>



                  </div>
                    <label ng-show="howHear.other">
                        <input type="text" class="form-control" id="" placeholder="" ng-model="howHear.otherText">
                </label>
                </div>
                <div class="confo">
                 <h4>Do you want to subscribe for our newsletter?</h4>
                     <div class="tab-butt">
                    <form class="form">
                        <div class="switch-field">
                            <input type="radio" id="switch_left" name="switch_2" value="yes" checked/>
                            <label for="switch_left">YES</label>
                            <input type="radio" id="switch_right" name="switch_2" value="no" />
                            <label for="switch_right">NO</label>
                        </div>
                    </form> 
                </div>
                </div>
                  <div class="confo">
                 <h4><b>PERSONAL DATA CONSEST DECLARATION</b></h4>
                 <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium voluptates, unde provident saepe, vitae consectetur rerum. Facilis ut mollitia, corporis consequuntur, ipsam reiciendis tenetur officiis, rerum expedita commodi nesciunt quo!</span>
                 <span>Dolores obcaecati nostrum, impedit, maiores possimus nesciunt molestiae, sit necessitatibus commodi deleniti dignissimos itaque. Omnis illum, illo, deleniti repudiandae nemo consectetur. Nemo culpa nam unde quasi cum et sunt aliquid.</span>
                 <span>Rerum officiis qui, repellendus necessitatibus molestiae quasi facere in eligendi. Quasi exercitationem nulla reprehenderit distinctio, eligendi placeat id. Molestiae necessitatibus eum sed inventore neque ea adipisci vero dolor deleniti non.</span></p>

               <div class="tab-butt">
                    <form class="form">
                        <div class="switch-field">
                            <input type="radio" id="switch_left" name="switch_2" value="yes" checked/>
                            <label for="switch_left">YES</label>
                            <input type="radio" id="switch_right" name="switch_2" value="no" />
                            <label for="switch_right">NO</label>
                        </div>
                    </form>
                </div>
                
                </div>
                  <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8 form-button text-right">
                            <button type="reset" class="btn btn-defualt" onclick="window.location.href='customer_misc.html';return false;">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-click="insertResponse()">Save</button>

                        </div>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>
 <!-- NEW CODE END --> 
     
<!-- Modal -->

   
     
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       
                   <div class="text-left">
                       <h3>Returning Patient?</h3>
                   </div>
                     <div class="text-right model-img">
                      <img src="images/logo_1_50.png"/>
                   </div>
                   <div class="mod-context">
                         <p>Simply enter your NRIC/Password number below to consult our specialist</p>
                         <form>
                          <div class="form-group model-from-group">
                            <label for="">NRIC/Passport Number </label>
                            <input type="text" class="form-control" id="" placeholder="">
                          </div>       
                          <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                   </div>
               </div>
           </div>
    </div>
 
 
 
 
 <!--  <div data-ng-app="crm" data-ng-controller="crmcontroller" ng-init="getOption()">
  
    <div class="container">
  
      <nav>
        <div id="logo">
          <center><img src="images/logo_1_50.png"></center>
          <h1><a href="/" id="logoLink">The Hearing Centre</a></h1>
        </div>
        <br><br>
        <ul>
          <h1> Register here to get started </h1>
          <h5> It should only take a couple of minitues </h5><br><br><br>
          <h3> <p> Personal Particulars <img src="images/tick.png"> </p> </h3>
          <h3> <p> Medical History <img src="images/tick.png"> </p> </h3>
          <li type="circle"><h3>Miscellaneous</h3></li><br>
        </ul>
        <br><br>          
  <div class="signin"> 
        <h5> Returning patient? Sign in </h5>
        Trigger/Open The Modal
        <button id="myBtn">here</button>
        <h5> <a href="#" data-toggle="modal" data-target="#myModal"> here <img src="images/arrow.png"> </a> </h5>
  </div>
  
  The Modal
  <div id="myModal" class="modal">
  
  Modal content
     <form class="form-style-9" ng-controller="crmcontroller" ng-submit=loginMember()>
            <span class="close"></span>
            <div class="logo_1"> <img src="images/logo_1_50.png"> </div>
            <h1>Returning Patient?</h1>
            <p>Simply enter your NRIC/Password number below to consult our specialist</p><br>
          <ul>
            <li>
              <h1>NRIC/Passport Number </h1>
              <input type="text" name="field4" class="field-style field-split align-right" required placeholder="NRIC" ng-model="nric"/>
              <input type="submit" value="Submit" />
            </li>
         </ul>
    </form>
      <div id="error">
          <div class="error">
              <div class="item">
                  <span><h4><b><font color="red">Your NRIC/Passport Number or Password is incorrect. Please try again.</font></b></h4></span>
              </div>
          </div>
      </div>
  </div>
  
  
      </nav>
  
      <article>
        <h1>How did you hear about us?</h1><br>
  
        <form class="miscellaneous" ng-controller="crmcontroller" ng-submit=insertResponse()>
          <span ng-repeat="choice in option">
          <li><input type="checkbox" value="{{choice.id}}" ng-model="choice.selected"> {{choice.name}} </li>
              
          </span>
          
          <h1> Do you want to subscribe for our newsletter? </h1><br>
          <label class="switch">
          <input type="checkbox" checked ng-model="news">
          <div class="slider round"></div>
          </label><br><br>
       
  
        <br><br>
        <input type="button" class="button1" value="Cancel" onclick="window.location.href='customer_misc.html';return false;" >
        <input type="submit" class="button2" value="Submit" name="submit">
  
         </form>
      </article>
      <div id="footer">
        <p>
          Webpage made by <a href="/" target="_blank">[your name]</a>
        </p>
      </div>
  
    </div>
  
  </div> -->
<script>
// Get the modal
//var modal = document.getElementById('myModal');

// Get the button that opens the modal
//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
//var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
//span.onclick = function() {
    //modal.style.display = "none";
//}

// When the user clicks anywhere outside of the modal, close it
//window.onclick = function(event) {
   // if (event.target == modal) {
    //    modal.style.display = "none";
  //  }
//}
</script>

</body>

</html>