/*
* multi-line comment
*/
p{ line-height: 1em; }
h1, h2, h3, h4{
    color: black;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
    /*text-align: left;*/
}
h1{ font-size: 1.5em; }
h2{ font-size: 1.5em; }
h4{ text-align: center; }
h5{ 
text-align: -webkit-center; 

display: inline-flex;
/*padding-left: 70px;*/
}
a{
	color: green;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

body{
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: white;
}
/* you can put your code all in one line like above */
#page{ margin: 20px; }

header {
    padding: 1em;
    color: white;
    background-color: white;
    clear: left;
    text-align: left;
    padding-left: 300px;
    padding-top: 13px;
    border-bottom: 1px solid gray;
}

nav {
    float: left;
    max-width: 700px;
    margin: 40px;
    padding: 1em;
    margin-right: -100px;
}

article {
    overflow: hidden;
    position: absolute;
    top: 119px;
    right: -10px;
}

.header_cont
{
 display: inline-block;
}

.header_cont img
{
    position: absolute;
    top: 0px;
    right: 0px;
}
.header_cont button
{
    /*background-color: darkseagreen;*/
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
}
.header_cont button:hover
{
    background-color: darkseagreen;
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
}
.button1{
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
}
.button2{
    border-radius: 12px;
     background-color: darkseagreen;
     border: 1px solid grey;
}
.button3{
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
}
.button4{
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
}

.button5
{
    /*background-color: darkseagreen;*/
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
    position: absolute;
    top: 0px;
    right: 10px;
}

.button5:hover
{
    background-color: darkseagreen;
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
}

.button6
{
    /*background-color: darkseagreen;*/
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
    position: absolute;
    top: 0px;
    left: 150px;
}

.button6:hover
{
    background-color: darkseagreen;
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
}



input[type=text] {
    width: 230px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: absolute;
    top: 20px;
    left: 30px;
    border-radius: 12px;
    height: 20px;
    text-align: center;
}

.patient nav{
    position: absolute;
    top: 65px;
    left: 5px;
}
.patient nav ul {
    list-style-type: none;
    padding: 0;
}
   
.patient nav ul a {
    text-decoration: none;
}
.patient nav ul img{
    width: 5%;
    height: auto;
    margin-left: -25px;
    display: flex;
    margin-top: -20px;
}
.patient nav ul p{
    color: green;
    text-decoration: none;
    text-align: left;
}
.header_cont h3{
    color: black;
    margin-left: -290px;
    font-size: x-large;
}
.header_cont h6{
    color: black;
    position: absolute;
    top: -20px;
    right: 100px;
    font-size: larger;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-right: 504px;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: white;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #8eb2c3;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/
.blue_box {
    display: block;
    clear:both;
    border: 2px border-style black;
}
.blue_box span {
    background-color: white;
    color: black;
    display: block;
    float: left;
    padding: 38px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: -40px;
    width: 61%;
}
.blue_box h1{
font-size: 1.3em;
font-weight: 700;
background-color: blue;
padding: 5px;
color: white;
}
.blue_box h2{
    font-size: 1.2em;
    text-align: left;
    font-weight: 400;
}
.blue_box table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* text-align: center; */
    /*width: 100%;*/
    margin-right: 150px;
    margin-left: -40px;
}
.blue_box th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    padding-right: 2px;
    padding-left: 10px;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #8eb2c3;
}
.box1{
    display: block;
    clear:both;
    position: absolute;
    top: 85px;
    left: 30px;
}
.box1 span{
    background-color: white;
    color: black;
    padding: 10px 5px;
    display: block;
    float: right;
}
.box2{
    display: block;
    clear:both;
    position: absolute;
    top: 150px;
    left: 30px;

}
.box2 span{
    background-color: white;
    color: black;
    padding: 10px 5px;
    display: block;
    float: right;
    margin-top: 10px;
}
.box3{
    display: block;
    clear: both;
    margin-right: -10px;
    margin-top: -10px;
    margin-left: -10px;

}
.box3 span{
    background-color: white;
    color: black;
    padding: 10px;
    display: block;
    float: right;
}
.box3 table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-right: 350px;
    margin-bottom: 220px;
}

.box3 th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    background-color: blue;
}
.patient2 article{
    overflow: hidden;
    position: absolute;
    top: 85px;
    right: 210px;
    height: 100%;
    width: 100%;
}
.box3 button
{
    background-color: white;
    /* border: black; */
    color: black;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;

    /*border-radius: 12px;*/
    /*background-color: darkseagreen;*/
    border: 1px solid grey;
}
.box3 button:hover
{
    background-color: blue;
    /* border: black; */
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;

    /*border: 1px solid grey;*/
}

.headerSortDown:after,
.headerSortUp:after{
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}
.headerSortDown:after{
  top: 10px;
  border-top-color: silver;
}
.headerSortUp:after{
  bottom: 15px;
  border-bottom-color: silver;
}
.headerSortDown,
.headerSortUp{
  padding-right: 10px;
}

.box3 input[type=text] {
    width: 785px;
    height: 150px;
    padding: 25px;
    margin: 25px;
    position: absolute;
    top: 15px;
    left: 823px;
    border-radius: 1px;
    text-align: left;
}